  </main>

  <footer style="text-align: center; margin: 30px 0; color: #888;">
    <p>&copy; 2025 HOCTAP-9A3 | Powered by Node.js & Socket.IO</p>
  </footer>

  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</body>
</html>
